@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-45RegularIt.woff2") format("woff2"), url("../fonts/CoreSansC-45RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.langway {
  overflow-y: hidden;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: #002060;
}
.langway input, .langway textarea {
  border: #666 1px solid;
  outline: none;
}
.langway input:focus:required:invalid, .langway textarea:focus:required:invalid {
  border-color: red;
}
.langway input:required:valid, .langway textarea:required:valid {
  border-color: green;
}
.langway .visually-hidden:not(:focus):not(:active),
.langway input[type=checkbox].visually-hidden,
.langway input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.langway ::-webkit-input-placeholder {
  color: #666;
}
.langway ::-moz-placeholder {
  color: #666;
}
.langway :-ms-input-placeholder {
  color: #666;
}
.langway ::-ms-input-placeholder {
  color: #666;
}
.langway ::placeholder {
  color: #666;
}
.langway ::-moz-selection {
  background-color: #00B0F0;
  color: #fff;
}
.langway ::selection {
  background-color: #00B0F0;
  color: #fff;
}
.langway * {
  scroll-behavior: smooth;
}
.langway a {
  color: inherit;
  text-decoration: none;
}
.langway .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.langway .img-responsive.img-width {
  width: 100%;
}
.langway .img-responsive.image-add {
  display: none;
}
.langway .button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.langway .button::after {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  width: 100%;
  opacity: 0.18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  left: 0;
}
.langway .button:focus, .langway .button:hover {
  text-decoration: none;
  color: #fff;
}
.langway .button:hover::after {
  opacity: 0.22;
}
.langway .button:active::after {
  opacity: 0.32;
}

.lw-container {
  position: relative;
  padding: 0 15px;
  margin: 0 auto;
}

.lw-main-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-style: italic;
  text-transform: uppercase;
  color: #002060;
}

.lw-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 15px;
  color: #00B0F0;
  font-weight: 500;
}

.lw-content p {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.lw-content p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .lw-main-title {
    font-size: 30px;
    line-height: 30px;
  }
  .lw-content p {
    font-size: 18px;
    line-height: 1.6;
  }
  .lw-content ul {
    padding-left: 20px;
  }
  .lw-content ul li {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
  }
  .lw-title {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (min-width: 968px) {
  .lw-main-title {
    margin-bottom: 4.06vw;
    margin-left: -8.75vw;
    font-size: 2.08vw;
    line-height: 2.08vw;
  }
  .lw-title {
    margin-bottom: 1.46vw;
    font-size: 2.08vw;
    line-height: 2.08vw;
  }
  .lw-content p {
    font-size: 1.25vw;
    margin-bottom: 0.78vw;
  }
  .lw-content ul li {
    font-size: 1.25vw;
    margin-bottom: 0.58vw;
  }
}
.lw-about {
  padding: 40px 0 240px;
  margin: 0 auto;
  background-image: url("../img/cloudy-landscape 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-about__images {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lw-about__images img {
  height: 100%;
  margin-right: 30px;
}
.lw-about__images img:last-of-type {
  height: 75%;
}

@media (min-width: 968px) {
  .lw-about {
    padding: 7.97vw 0 15.34vw;
  }
  .lw-about .lw-container {
    padding: 0;
    width: 36.56vw;
    padding-left: 3.44vw;
  }
  .lw-about__images {
    width: 17.5vw;
    height: 28.17vw;
    position: absolute;
    top: -3.13vw;
    left: -17vw;
  }
  .lw-about__images img {
    margin-right: 1.56vw;
  }
}
.lw-task {
  margin-top: -150px;
  padding-top: 80px;
  background-image: url("../img/water-drops-texture-background-white-design 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.lw-task .lw-content p {
  margin-bottom: 15px;
}
.lw-task .lw-content p:last-of-type {
  margin-bottom: 50px;
}
.lw-task .lw-content ul {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .lw-task {
    margin-top: -192px;
    padding-top: 120px;
  }
}
@media (min-width: 968px) {
  .lw-task {
    margin-top: -7.91vw;
    padding-top: 2.45vw;
  }
  .lw-task .lw-container {
    padding: 0;
    width: 40.76vw;
    padding-left: 4.64vw;
  }
  .lw-task .lw-content p:last-of-type {
    margin-bottom: 8.33vw;
  }
}
.lw-solution {
  padding-top: 80px;
  background-image: url("../img/water-drops-texture-background-white-design 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 968px) {
  .lw-solution {
    padding-top: 6.67vw;
  }
  .lw-solution .lw-container {
    padding: 0;
    width: 40.76vw;
    padding-left: 4.64vw;
  }
}
.lw-structure {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 2 (3).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-structure__content {
  margin-bottom: 40px;
}

.lw-structure__image {
  width: 100%;
}
.lw-structure__image img {
  width: 100%;
}

@media (min-width: 576px) {
  .lw-structure {
    margin-top: -14.7px;
  }
}
@media (min-width: 968px) {
  .lw-structure {
    padding: 8.33vw 0 2.45vw;
    margin-top: -0.567vw;
  }
  .lw-structure .lw-container {
    padding: 0;
    width: 87.5vw;
  }
  .lw-structure__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5.21vw;
  }
  .lw-structure__content p {
    width: 42.71vw;
  }
  .lw-structure__title {
    margin-right: 7.42vw;
  }
}
.lw-mood {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 4.png"), url("../img/mood-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-mood__title {
  margin-bottom: 90px;
}

@media (min-width: 968px) {
  .lw-mood {
    padding-top: 6.33vw;
  }
  .lw-mood .lw-container {
    padding: 0;
    width: 87.5vw;
  }
  .lw-mood__title {
    margin-bottom: 1.46vw;
  }
  .lw-mood__image {
    margin-top: -3.29vw;
  }
  .lw-mood__image img {
    width: 100%;
  }
}
.lw-associations {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 2 (3).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.lw-associations ul {
  padding-left: 15px;
}

.lw-associations__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lw-associations__list {
  margin-right: 30px;
}

@media (min-width: 968px) {
  .lw-associations {
    padding-top: 6.33vw;
  }
  .lw-associations .lw-container {
    padding: 0;
    width: 87.5vw;
  }
  .lw-associations .lw-content ul li {
    margin-bottom: 0.68vw;
  }
  .lw-associations__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5.21vw;
  }
  .lw-associations__content p {
    width: 42.71vw;
  }
  .lw-associations__title {
    margin-right: 12.02vw;
  }
  .lw-associations__list {
    margin-right: 4.71vw;
  }
  .lw-associations__list:nth-child(2) {
    margin-right: 8.71vw;
  }
}
.lw-colors {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 20.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-colors__content {
  margin-bottom: 30px;
}

.lw-colors__image img {
  width: 100%;
}

@media (min-width: 968px) {
  .lw-colors {
    margin-top: -5.21vw;
    padding: 6.85vw 0 2.6vw;
  }
  .lw-colors .lw-container {
    padding-top: 0;
    width: 48.66vw;
    padding-left: 8.74vw;
  }
  .lw-colors .lw-content p:last-of-type {
    margin-bottom: 3.13vw;
  }
}
.lw-typo {
  padding-top: 50px;
  padding-bottom: 130px;
  background-image: url("../img/water-drops-texture-background-white-design-3-round.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-typo__content {
  font-family: CoreSansC, sans-serif;
  font-size: 13px;
}
.lw-typo__content p:first-of-type {
  font-family: Raleway, sans-serif;
  margin-bottom: 35px;
}
.lw-typo__content p:nth-child(2) {
  text-transform: lowercase;
}
.lw-typo__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.lw-typo__content ul li {
  margin-right: 15px;
  font-family: CoreSansC;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
.lw-typo__content ul li:last-of-type {
  font-weight: 400;
}

@media (min-width: 968px) {
  .lw-typo {
    padding: 5.52vw 0 3.7vw;
  }
  .lw-typo .lw-container {
    padding-top: 0;
    width: 48.66vw;
    padding-left: 8.74vw;
  }
  .lw-typo__content p:first-of-type {
    margin-bottom: 3.13vw;
  }
  .lw-typo__content ul {
    margin-bottom: 1.25vw;
  }
  .lw-typo__content ul li {
    margin-right: 1.88vw;
    font-size: 1.67vw;
    line-height: 2.08vw;
  }
}
.lw-design {
  padding-top: 50px;
  padding-bottom: 240px;
  margin-top: -120px;
  background-image: url("../img/mountains-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (min-width: 968px) {
  .lw-design {
    background-image: url("../img/mountains-bg.png");
    margin-top: -9.41vw;
    padding: 14.65vw 0 23.6vw;
  }
  .lw-design .lw-container {
    padding-top: 0;
    width: 59.26vw;
    padding-left: 13.74vw;
  }
  .lw-design .lw-content p {
    margin-bottom: 0.38vw;
  }
}
.lw-main {
  padding-top: 50px;
  margin-top: -230px;
  background-image: url("../img/Rectangle 1467-2.png"), url("../img/water-drops-texture-background-white-design 6.png"), url("../img/water-drops-texture-background-white-design 7.png"), url("../img/water-drops-texture-background-white-design 8.png"), url("../img/water-drops-texture-background-white-design 3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 bottom, 0 230px, 0 calc(66.6666666667vw + 230px), 0 calc(133.3333333333vw + 230px), 0 calc(200vw + 230px);
}
.lw-main .images-block__item--desk {
  max-width: 50%;
}
.lw-main .images-block__item--add {
  max-width: 30%;
  position: absolute;
}
.lw-main .images-block__item--mobile {
  max-width: 59%;
  margin-left: auto;
}

@media (min-width: 968px) {
  .lw-main {
    height: 336.23vw;
    margin-top: -17.41vw;
    padding: 0;
    background-position: 0 160.38vw, 0 17.386vw, 0 83.393vw, 0 149.4vw, 0 218.4vw;
  }
  .lw-main .lw-container {
    padding-top: 0;
    width: 59.26vw;
    padding-left: 13.74vw;
  }
  .lw-main .images-block__wrapper {
    position: relative;
    max-width: 67.6vw;
    margin-left: auto;
    margin-right: 2.5vw;
  }
  .lw-main .images-block__item--desk {
    position: absolute;
    width: 42.81vw;
    max-width: 42.81vw;
    top: 7vw;
    left: -28vw;
    z-index: 10;
  }
  .lw-main .images-block__item--add {
    max-width: 30.52vw;
    width: 30.52vw;
    left: -30vw;
  }
  .lw-main .images-block__item--mobile {
    max-width: 26.74vw;
    width: 26.74vw;
    margin: 0;
    position: absolute;
    left: -22vw;
    top: 95vw;
  }
}
.images-block__wrapper {
  position: relative;
}

.images-block__item--tablet {
  position: relative;
}
.images-block__item--tablet .images-block__anim-inner {
  -webkit-animation: scroll-up 50s linear infinite;
          animation: scroll-up 50s linear infinite;
}
.images-block__item--tablet .images-block__anim-wrap {
  position: absolute;
  top: 9%;
  left: 7%;
  right: 7%;
  bottom: 17.8%;
  overflow: hidden;
}
.images-block__item--tablet .images-block__img--border {
  display: none;
}
.images-block__item--mobile {
  position: relative;
  padding-right: 6%;
}
.images-block__item--mobile .images-block__anim-inner {
  -webkit-animation: scroll-up 50s linear infinite;
          animation: scroll-up 50s linear infinite;
}
.images-block__item--mobile .images-block__anim-wrap {
  position: absolute;
  top: 13%;
  left: 8.5%;
  right: 15%;
  bottom: 15.8%;
  overflow: hidden;
}

@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes scroll-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 968px) {
  .images-block__item--desk img {
    width: 100%;
  }
  .images-block__item--tablet img {
    width: 100%;
  }
  .images-block__item--tablet .images-block__anim-inner {
    -webkit-animation: none;
            animation: none;
  }
  .images-block__item--tablet .images-block__anim-wrap {
    overflow: visible;
  }
  .images-block__item--tablet .images-block__img--border {
    display: block;
    position: absolute;
    margin-top: -6.28vw;
    z-index: 10;
  }
  .images-block__item--add img {
    width: 100%;
  }
  .images-block__item--mobile img {
    width: 100%;
  }
  .images-block__item--mobile .images-block__anim-wrap {
    right: 21%;
    overflow: visible;
  }
  .images-block__item--mobile .images-block__anim-inner {
    -webkit-animation: none;
            animation: none;
  }
}
.lw-product {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 7.png"), url("../img/water-drops-texture-background-white-design 6.png"), url("../img/water-drops-texture-background-white-design 7.png"), url("../img/water-drops-texture-background-white-design 6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0, 0 66.76vw, 0 133.3333333333vw, 0 200vw;
}

.lw-product__content {
  margin-bottom: 20px;
}

.lw-product__images--desk {
  margin-bottom: 30px;
}

@media (min-width: 968px) {
  .lw-product {
    margin-top: -119.28vw;
    padding: 23.85vw 0 2.6vw;
    background-image: url("../img/water-drops-texture-background-white-design 7.png"), url("../img/water-drops-texture-background-white-design 3.png");
    background-position: 0 23.85vw, 0 89.8666666667vw;
  }
  .lw-product .lw-container {
    padding-top: 0;
    width: 65.66vw;
    padding-left: 17.74vw;
  }
  .lw-product .lw-content {
    margin-bottom: 0;
  }
  .lw-product .lw-content p {
    font-size: 1vw;
  }
  .lw-product__images--desk {
    width: 58.55vw;
    margin-left: auto;
    margin-right: 7.22vw;
    margin-bottom: 7.8vw;
  }
  .lw-product__images--desk img {
    width: 100%;
  }
  .lw-product__images--mobile {
    width: 64.39vw;
    margin-left: auto;
  }
  .lw-product__images--mobile img {
    width: 100%;
  }
}
.lw-detail__title {
  font-size: 19.5px;
}

.lw-detail {
  padding-top: 50px;
  background-image: url("../img/water-drops-texture-background-white-design 12.png"), url("../img/snow-3.png"), url("../img/water-drops-texture-background-white-design 11.png"), url("../img/water-drops-texture-background-white-design 14.png"), url("../img/water-drops-texture-background-white-design 9.png"), url("../img/water-drops-texture-background-white-design 14.png"), url("../img/water-drops-texture-background-white-design 14.png"), url("../img/water-drops-texture-background-white-design 14.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0, 0 11.456vw, 0 62.456vw, 0 129.256vw, 0 178.856vw, 0 245.556vw, 0 295.156vw, 0 344.556vw;
}
.lw-detail .images-block__item--tablet {
  margin-left: -100px;
}
.lw-detail .images-block__item--tablet .images-block__anim-inner {
  -webkit-animation: none;
          animation: none;
}
.lw-detail .images-block__item--mobile {
  max-width: 59%;
  margin-left: auto;
}
.lw-detail .images-block__item--mobile .images-block__anim-wrap {
  left: 9.9%;
  right: 15%;
}

@media (min-width: 968px) {
  .lw-detail {
    height: 177vw;
    padding-top: 50vw;
    margin-top: -35vw;
    background-image: url("../img/water-drops-texture-background-white-design 12.png"), url("../img/snow-3.png"), url("../img/water-drops-texture-background-white-design 11.png"), url("../img/water-drops-texture-background-white-design 14.png");
    background-position: 0 0, 0 10.85vw, 0 62.15vw, 0 128.256vw, 0 178.856vw, 0 245.256vw;
  }
  .lw-detail .lw-container {
    position: relative;
    max-width: 56.25vw;
    margin-right: auto;
    margin-left: 6.25vw;
  }
  .lw-detail .images-block__item--tablet {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    margin-top: 5.73vw;
    margin-bottom: 5.53vw;
    margin-left: -5.21vw;
  }
  .lw-detail .images-block__item--tablet .images-block__anim-wrap {
    top: 7%;
  }
  .lw-detail .images-block__item--mobile {
    max-width: 52%;
    width: 26.65vw;
    position: absolute;
    top: -13vw;
    right: -63%;
  }
  .lw-detail .images-block__item--mobile img {
    width: 100%;
  }
  .lw-detail .images-block__item--mobile .images-block__anim-wrap {
    right: 17%;
  }
  .lw-detail__title {
    font-size: 2.08vw;
    line-height: 2.08vw;
  }
  .lw-content p {
    font-size: 1.04vw;
    line-height: 1.6;
  }
  .lw-detail__images--desk {
    margin-right: -3.65vw;
  }
  .lw-detail__images--desk img {
    width: 100%;
  }
}
.lw-prod-research {
  padding-top: 50px;
  background-image: url("../img/production-bg-2.png"), url("../img/water-drops-texture-background-white-design 20.png"), url("../img/water-drops-texture-background-white-design 6.png");
  background-position: 0 0, 0 189.65vw, 0 256.25vw;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 968px) {
  .lw-prod-research {
    padding-top: 4vw;
    padding-bottom: 57vw;
    background-image: url("../img/production-bg-2.png");
    background-position: 0 0;
    background-size: cover;
  }
  .lw-prod-research .lw-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lw-prod-research .lw-production {
    width: 50%;
  }
  .lw-prod-research .lw-research {
    width: 50%;
  }
}
.lw-production {
  margin-bottom: 50px;
}
.lw-production .images-block__item--tablet {
  margin-left: -50px;
}

@media (min-width: 968px) {
  .lw-production .images-block__item--tablet {
    margin-left: -20.5vw;
  }
  .lw-production .images-block__img--border {
    margin-top: -6.48vw;
  }
  .lw-production .images-block__anim-wrap {
    right: 9%;
    left: 28.9%;
  }
  .lw-production__title {
    padding-left: 8vw;
  }
}
.lw-production-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lw-production-mob img {
  width: 40%;
}

@media (min-width: 968px) {
  .lw-production-mob {
    width: 100%;
    padding-left: 5.36vw;
    padding-right: 7.92vw;
  }
  .lw-production-mob img {
    width: 27.5%;
  }
  .lw-production-mob img:last-child {
    margin-left: auto;
  }
}
.lw-research {
  margin-bottom: 22px;
}
.lw-research .images-block__item--tablet {
  margin-right: -50px;
}

.lw-research__image-add {
  margin-right: -50px;
}

@media (min-width: 968px) {
  .lw-research {
    margin-bottom: 13vw;
  }
  .lw-research .lw-content p {
    text-align: right;
    padding-right: 6vw;
  }
  .lw-research .images-block__item--tablet {
    margin-right: 0;
    margin-right: -24.5vw;
    margin-bottom: 6vw;
  }
  .lw-research .images-block__anim-wrap {
    right: 28.5%;
    left: 8.5%;
  }
  .lw-research .images-block__anim-wrap {
    overflow: hidden;
  }
  .lw-research__title {
    text-align: right;
    padding-right: 6vw;
  }
  .lw-research__image-add {
    margin: 0;
  }
  .lw-research__image-add img {
    width: 100%;
  }
}
.lw-questions {
  padding-top: 0 3px;
  background-image: url("../img/water-drops-texture-background-white-design 20.png"), url("../img/water-drops-texture-background-white-design 6.png"), url("../img/water-drops-texture-background-white-design 20.png");
  background-position: 0 0, 0 66.3vw, 0 150vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.lw-questions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lw-questions__item:last-of-type {
  margin-top: -20px;
}

@media (min-width: 968px) {
  .lw-questions {
    margin-top: -44.2vw;
    margin-bottom: 3.65vw;
    background: none;
  }
  .lw-questions .lw-container {
    max-width: 84.42vw;
  }
  .lw-questions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lw-questions__item:nth-child(odd) {
    width: 43.53vw;
  }
  .lw-questions__item:nth-child(even) {
    width: 36.93vw;
    margin-top: 4.84vw;
  }
  .lw-questions__item:nth-child(3) {
    margin-top: -6.21vw;
  }
  .lw-questions__item:last-of-type {
    margin: 0;
  }
  .lw-questions__item:last-of-type {
    margin-left: auto;
    margin-top: -7.6vw;
    width: 51vw;
  }
  .lw-questions__item img {
    width: 100%;
  }
}
.lw-myths {
  padding-top: 50px;
  background-image: url(../img/myths-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.lw-myths__desk {
  position: relative;
  padding-right: 30px;
}
.lw-myths__desk::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 150px;
  top: 25px;
  right: -5px;
  background-image: url(../img/bottle-trans.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.lw-myths__desk-wrap {
  height: 300px;
  overflow: hidden;
}

.lw-myths__desk-inner {
  -webkit-animation: scroll-up 50s linear infinite;
          animation: scroll-up 50s linear infinite;
}
.lw-myths__desk-inner img {
  width: 100%;
}

.lw-myths__mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lw-myths__mob img {
  width: 50%;
}
.lw-myths__mob img:nth-child(2) {
  display: none;
}

@media (min-width: 968px) {
  .lw-myths {
    padding-top: 3vw;
    padding-bottom: 7.29vw;
  }
  .lw-myths .lw-container {
    width: 87.5vw;
    padding: 0;
  }
  .lw-myths__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lw-myths__desk {
    padding: 0;
    margin-right: 7.24vw;
    width: 52.08vw;
  }
  .lw-myths__desk::before {
    width: 8.85vw;
    height: 21.14vw;
    top: 12.81vw;
    right: -4.32vw;
  }
  .lw-myths__desk-wrap {
    height: auto;
    overflow: hidden;
  }
  .lw-myths__desk-inner {
    -webkit-animation: none;
            animation: none;
  }
  .lw-myths__desk-inner img {
    width: 100%;
  }
  .lw-myths__mob {
    width: 23.65vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lw-myths__mob img {
    width: 100%;
  }
  .lw-myths__mob img:nth-child(2) {
    display: block;
    width: 8.12vw;
    -webkit-transform: rotate(28deg);
        -ms-transform: rotate(28deg);
            transform: rotate(28deg);
  }
}
.lw-basket {
  padding-top: 50px;
  background-image: url(../img/basket-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.lw-basket .images-block__anim-wrap {
  right: 10%;
  left: 9.5%;
}

.lw-basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lw-basket__desk {
  width: 100%;
}
.lw-basket__desk img {
  width: 100%;
}

.lw-basket__titles {
  display: none;
}

.lw-basket__mob {
  width: 50%;
}

@media (min-width: 968px) {
  .lw-basket {
    padding-top: 3.28vw;
    padding-bottom: 30vw;
  }
  .lw-basket .lw-container {
    width: 95.94vw;
    padding: 0;
  }
  .lw-basket__title {
    padding-left: 12.3vw;
    margin-bottom: 0.5vw;
  }
  .lw-basket__titles {
    display: block;
    width: 9.84vw;
    margin-left: 17.65vw;
    margin-top: 10.94vw;
    margin-right: 8.7vw;
  }
  .lw-basket__titles img {
    width: 100%;
  }
  .lw-basket__mob {
    width: 23.7vw;
  }
  .lw-basket__mob--1 {
    margin-right: 4.69vw;
  }
  .lw-basket__mob--2 {
    margin-top: -25.52vw;
  }
}
.lw-checkout {
  padding-top: 50px;
  position: relative;
  background-image: url(../img/checkout-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
}

.lw-checkout__content {
  margin-bottom: 30px;
}

@media (min-width: 968px) {
  .lw-checkout {
    margin-bottom: 1.56vw;
  }
  .lw-checkout__container {
    width: 87.5vw;
    padding: 0;
  }
  .lw-checkout__content {
    max-width: 73.17vw;
    margin-bottom: 0;
  }
  .lw-checkout__image img {
    width: 100%;
  }
}
.lw-contacts {
  padding-top: 100px;
  padding-bottom: 380px;
  margin-top: -70px;
  background-image: url(../img/contacts-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.lw-contacts__mob {
  max-width: 30%;
  margin-left: auto;
}

@media (min-width: 968px) {
  .lw-contacts {
    padding-top: 20vw;
    margin-top: -11vw;
    padding-bottom: 46.05vw;
  }
  .lw-contacts__container {
    width: 87.5vw;
    padding: 0;
  }
  .lw-contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lw-contacts__desk {
    width: 58.07vw;
  }
  .lw-contacts__desk img {
    width: 100%;
  }
  .lw-contacts__mob {
    width: 23.7vw;
    margin-top: -2.5vw;
  }
  .lw-contacts__mob img {
    width: 100%;
  }
}
.lw-result {
  margin-top: -420px;
  padding-bottom: 40px;
}

.lw-result__content {
  margin-bottom: 50px;
}

.lw-result__thanks {
  text-align: center;
  font-family: "CoreSansC", sans-serif;
  font-size: 25px;
  line-height: 2;
  color: #002060;
  border-top: 3px solid #002060;
  border-bottom: 3px solid #002060;
}

@media (min-width: 968px) {
  .lw-result {
    margin-top: -37.42vw;
    padding-bottom: 5.8vw;
  }
  .lw-result__container {
    width: 68.06vw;
    padding-left: 17.74vw;
  }
  .lw-result__content {
    margin-bottom: 7.1vw;
    padding-right: 7vw;
  }
  .lw-result__content p {
    font-size: 1.25vw;
    line-height: 1.5;
  }
  .lw-result__thanks {
    font-size: 4.3vw;
    border-top: 0.16vw solid #002060;
    border-bottom: 0.16vw solid #002060;
  }
}
.portfolio__cards-item-image {
  width: 580px;
  height: 329px;
}

#calista .preview-langway {
  background-image: url(../img/lw-prev-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
#calista .preview-langway:hover .preview-langway__text {
  width: 55%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#calista .preview-langway:hover .preview-langway__image {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#calista .preview-langway:hover .preview-langway__image:nth-child(1) {
  -webkit-transform: translateX(-136px);
      -ms-transform: translateX(-136px);
          transform: translateX(-136px);
}
#calista .preview-langway:hover .preview-langway__image:nth-child(2) {
  -webkit-transform: translateX(-68px);
      -ms-transform: translateX(-68px);
          transform: translateX(-68px);
}
#calista .preview-langway__inner {
  padding: 128px 26px 19px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#calista .preview-langway__text {
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 32px;
  line-height: 40px;
  font-family: "CorSansC", sans-serif;
  text-transform: uppercase;
  color: #002060;
  font-style: italic;
}
#calista .preview-langway__text span:last-of-type {
  text-align: right;
}
#calista .preview-langway__images {
  width: 11.2%;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#calista .preview-langway__images img {
  width: 100%;
  height: auto;
}
#calista .preview-langway__image {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#calista .preview-langway__image:last-of-type {
  margin-right: 0;
  z-index: 10;
}
#calista .preview-langway__image:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#calista .preview-langway__image:nth-child(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#calista .preview-langway__image img {
  max-width: 100%;
  width: 100%;
}
#calista .preview-langway__image-title {
  width: 3%;
  margin-left: 10px;
  margin-bottom: 15px;
}