.lw-colors {
  padding-top: 50px;
  background-image: url('../img/water-drops-texture-background-white-design 20.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lw-colors__content {
  margin-bottom: 30px;
}

.lw-colors__image {
  & img {
    width: 100%;
  }
}

@media (min-width: 968px) {
  .lw-colors {
    margin-top: -5.21vw;
    padding: 6.85vw 0 2.6vw;
    & .lw-container {
        padding-top: 0;
        width: 48.66vw;
        padding-left: 8.74vw;
    }
    & .lw-content {
      & p {
        &:last-of-type {
          margin-bottom: 3.13vw;
        }
      }
    }
  }
}